In [18]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, count


spark = SparkSession.builder.appName("MovieRatingsAnalysis").getOrCreate()

df = [
    {"user_id": 1, "movie_id": 101, "rating": 5.0},
    {"user_id": 2, "movie_id": 101, "rating": 4.0},
    {"user_id": 3, "movie_id": 102, "rating": 3.5},
    {"user_id": 4, "movie_id": 103, "rating": 2.0},
    {"user_id": 5, "movie_id": 101, "rating": 4.5},
    {"user_id": 6, "movie_id": 102, "rating": 3.0},
    {"user_id": 7, "movie_id": 103, "rating": 2.5},
    {"user_id": 8, "movie_id": 104, "rating": 4.0},
    {"user_id": 9, "movie_id": 104, "rating": 3.5},
    {"user_id": 10, "movie_id": 105, "rating": 5.0},
    {"user_id": 11, "movie_id": 105, "rating": 4.5},
    {"user_id": 12, "movie_id": 101, "rating": 4.0},
    {"user_id": 13, "movie_id": 102, "rating": 3.8}
]


df = spark.createDataFrame(df)
df.show()

+--------+------+-------+
|movie_id|rating|user_id|
+--------+------+-------+
|     101|   5.0|      1|
|     101|   4.0|      2|
|     102|   3.5|      3|
|     103|   2.0|      4|
|     101|   4.5|      5|
|     102|   3.0|      6|
|     103|   2.5|      7|
|     104|   4.0|      8|
|     104|   3.5|      9|
|     105|   5.0|     10|
|     105|   4.5|     11|
|     101|   4.0|     12|
|     102|   3.8|     13|
+--------+------+-------+

In [19]:

avg_ratings = df.groupBy("movie_id").agg(
    avg("rating").alias("avg_rating"),
)

In [23]:

top_movies = avg_ratings.orderBy(col("avg_rating").desc()).limit(5)
top_movies.show()

+--------+------------------+------------+
|movie_id|        avg_rating|rating_count|
+--------+------------------+------------+
|     105|              4.75|           2|
|     101|             4.375|           4|
|     104|              3.75|           2|
|     102|3.4333333333333336|           3|
|     103|              2.25|           2|
+--------+------------------+------------+

In [26]:

spark.stop()